<% if @pin.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@pin.errors.count, "error") %>.
    </div>
    <ul>
    <% @pin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@pin, multipart: true) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <p>
      <label for="pin_title">Title</label><br />
      <%= f.text_field :title %>
    </p>

    <p class="p-select">
      <label for="pin_category_id">Category</label>
      <%= f.collection_select(:category_id, Category.all, :id, :name ) %>
    </p>

    <p>
      <label for="pin_slug">Slug</label><br />
      <%= f.search_field :slug, placeholder: 'my-title' %> 
    </p>

    <p>
      <label for="pin_url">Url</label><br />
      <%= f.url_field :url, placeholder: 'http://example.com' %> 
    </p>

    <p>
      <label for="pin_text">Text</label><br />
      <%= f.text_area :text, placeholder: 'description' %> 
    </p>

    <p class="form-group">
      <label for="pin_image">Image</label><br />
      <%= f.file_field :image  %>
     </p>
      
    <%= f.fields_for :pinnings do |p| %>
       <div class="form-group">
       <label>Which board?</label>
       <%= p.collection_select(:board_id, current_user.pinnable_boards, :id, :name, {}, {class:   "form-control"}) %>
    <%= p.hidden_field :user_id, value: current_user.id %>    
   <% end %>  

    <p class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </p>
  </div>
<% end %>