<div class="header">
   <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>      
  </div>
<div class="show-pin">
  <p><%= "#{@pin.text}" %></p>

  <hr/>
<div class="image">
  <% if @pin.image.exists?(:medium) %>
    <%= image_tag @pin.image.url(:medium)%>
    <% else %>
    <%= image_tag @pin.image.url(:thumb)%>
    <% end %>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
      <%= link_to "#{@pin.url}", @pin.url, html_options = {target: "_blank", class: "url"}%>
  </p>
  <br/>
    <%= link_to 'repin_path(pin)', class: "btn btn-default", method: "post" do %>
    <i class="fa fa-thumb-tack"></i>
    Repin!
 <% end %>
</div>
<div class="pinned-by">
    <h4>Pinned By</h4>
    <% @users.each do |user| %>
      <p class="btn"><%= user[:first_name] %> <%= user[:last_name] %></p>
    <% end %>
</div>
  
<br/>
<a href="/">
<i class="fa fa-hand-o-left"></i>
  Back to Home
</a>
<a href= <%= "#{edit_pin_path(@pin)}" %> >
  <i class="fa fa-hand-o-right"></i>
  Edit Pin
</a> |
<a href= <%= "#{new_pin_path}" %> >
  <i class="fa fa-hand-o-right"></i>
  Create a pin
</a> 